<h3>Reportes</h3>

<div class="espacio">
  <mat-form-field appearance="fill">
    <mat-label>Ingresa el rango de busquedad</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input id="start" matStartDate formControlName="start" placeholder="Fecha Inicial">
      <input id="end" matEndDate formControlName="end" placeholder="Fecha Final">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Fecha inicial invalida</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Fecha final invalida</mat-error>
  </mat-form-field>


</div>

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Citas
      </mat-panel-title>
      <mat-panel-description>
        Descripcion de citas
      </mat-panel-description>
    </mat-expansion-panel-header>
    <button mat-flat-button mat-button color="accent" class="btn-schedule-appointment" (click)="buscarPorFechas()">Buscar Reportes de Citas</button>

    <h4>total de citas:{{lis.totalCitas}}</h4>


    <tr *ngFor="let item of arrayprueba">

      <mat-list>
        <mat-list-item>{{item}}</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      </tr>







  </mat-expansion-panel>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Provedores
      </mat-panel-title>
      <mat-panel-description>
        Descripcion de provedores
      </mat-panel-description>
    </mat-expansion-panel-header>
    <button mat-flat-button mat-button color="accent" class="btn-schedule-appointment" (click)="obtenerTotalProveedores()">Buscar Total de Proveedores</button>

    <h4>Total de Proveedores: {{totalProveedores}}</h4>
    <!--<div let datos of datos2>
      <h4>Total de Proveedores: {{datos2.totalProveedores}}</h4>
    </div> -->


  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Citas Por Proveedores
      </mat-panel-title>
      <mat-panel-description>
        Descripcion de provedores 2
      </mat-panel-description>
    </mat-expansion-panel-header>
    <button mat-flat-button mat-button color="accent" class="btn-schedule-appointment" (click)="obtenerTotal()">Buscar Citas por Proveedor</button>
    <h4>Total de citas por Proveedores: {{datosCitasProveedores}}</h4>
  </mat-expansion-panel>


